{% extends 'nav.html' %}
{% load i18n static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Reutilizar Censo{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'your_custom_styles.css' %}">
</head>
<body>
    <div class="container mt-4">
        <form method="POST" action="{% url 'reuse_view' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="oldVoting">{% trans 'Seleccionar votación antigua' %}</label>
                {{ form.oldVoting }}
            </div>
            <div class="form-group">
                <label for="newVoting">{% trans 'Seleccionar votación objetivo' %}</label>
                {{ form.newVoting }}
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <strong>{% trans "Reutilizar Censo" %}</strong>
            </button>
        </form>
    </div>
    <!-- Tus scripts adicionales -->
</body>
</html>
{% endblock %}